<div class="row g-0 align-items-center">
    <div class="col-md-2">
        <img src="https://avatars3.githubusercontent.com/u/35324794?v=4" alt="Avatar Image">
    </div>
    <div class="col-md-10">
        <div class="card-body">
            <h2 class="card-title">Repo Title</h2>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            <p class="card-text">
                <small class="text-muted border px-1 mr-2">Stars: <span>11K</span></small>
                <small class="text-muted border px-1 mr-2">Issues: <span>11K</span></small>
                <small class="text-muted">Submitted Time Interval by owner name</small></p>
        </div>
    </div>
</div>
